
#landing{

    
width: 1000px;
height: 1000px;
background-color: aquamarine;
border: solid 15px black    ;

}


.box{
    width: 100px;
    height: 100px;
    color: aqua;
    border: solid pink 15px;
}


#highlight{
    background-color: rgb(230, 157, 157);
    width: 1000px;
    height: 1000px;
    position: relative;
}


    #highlight::before{
        content: "";
        background: url('./wave.svg');
        content: "";
        position: absolute;
            width: 101vw;
            height: 12vw;
            top: 1px;
            left: 0;
            z-index: 1;
            background-size: cover;
            background-repeat: no-repeat;
            transform: translate(-100%);
    }
        
    
    #highlight::after{
        
        background: url('./wave.svg');
        content: "";
        position: absolute;
            width: 101vw;
            height: 12vw;
            top: 1px;
            left: 0;
            z-index: 1;
            background-size: cover;
            background-repeat: no-repeat;
            transform: translate(100%);
        
    }
    