body {
 background-color:rgb(234, 170, 170);
 color: blueviolet;
}

div {
    background-color: rgb(235, 190, 190) !important; 
    width: 10cm;
    height: 11cm;
}

.list:hover{
    color: black;
    
}

.LIST:visited{
    color: red;
}

.list{
    border: 4px black solid;
    margin: 5px;
    padding: 5px 20px;
    list-style: lower-greek;
    font-size: 20px;

}

li{
    padding-bottom: 10px;
    border-bottom: solid black;
}
#hot{
    margin: auto;
}

.BOOM{
    animation : float 2000ms ease infinite alternate-reverse;
    transition: all;
}

.BOOM:hover{
    background-color: blanchedalmond;
    color: aqua;
}

.formbox{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.BOXX{
    border: solid 1px black;
    margin: 50px 15px;
    padding: 1  0px;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }

   

    100%{
        transform: translateY(100px);
    }



}