.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1) {
  background-color: #0cf287;	
}

.container > div:nth-child(3) {
  background-color: #0c100e;
}

.container > div:nth-child(2) {
      background-color: #ff6f69;
}

.container > div:nth-child(4) {
      background-color: #ffcc5c;
}

.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50px auto 100px; 
    grid-gap: 20px;
}

.one{
 grid-column: 1/-1;
}

.two {
grid-row: 2/3;
grid-column: 1/-1;
}

.three{
    grid-column: 1/4;
}

.four{
    grid-column: 4/-1;
}


a{
  text-decoration: none;
  color: pink;
  
}

a:hover{
  color: red;
  
}

a:active{
color: #0c100e;
}

a:visited{

  color: purple;
}



.link ul{
 list-style: none;
 border: solid black 5px;
 text-align: center;
 padding: 20px;
}

.block{
  display: block;
  float: left;
  padding: 5px;
  text-align  :  center;
  width: 33.3%;
  border: 2px black solid;
  box-sizing: border-box;
  
}

.button{
  background-color: #0c100e;
  color: #ffcc5c;

}


.fix-me{
  position: fixed;
 top: 400px;

}

.nice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  height: 70%;
  width: 80%;
  
}
.nice li:nth-child(even){
  color: pink;
  font-size: 20px;
  
  
}

*{box-sizing: border-box;}


.ccontainer{
  border: #0cf287 solid 4px ;
  
  padding: 25px;
  
  
}


.row{
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
}


.box.box-big{
  width: 45%;
  border: solid black 1px;
  
}
  
  
.boxes{
  
  width: 45%;
  display: flex;
  flex-direction: column;
}

.box.boc{
  height: 50px;
}

.box{
  
  margin-bottom: 50px;
  
  border: #0cf287 solid 2px;
  
}

.box.small{
  width: 30%;
  height: 100px;
  
}
.smaller-boxes{
  display: flex;
  justify-content: space-evenly ;
}

.clr{
  clear: both;
}


💪